.body
{
    background: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header
{
    color: red;
    font-size: x-large;
    font-weight: bold;
}

.text
{
    color: white;
    margin-left: 10px;
}
.diftext
{
    color: red;
}

.imagetop
{
    width: 250px;
}

.imagebot
{
    width: 1000px;
}
