.body{
    background: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header{
    color: red;
    font-size: x-large;
}

.text{
    color: black;
}
